* {
  font-family: 'Roboto' Helvetica, Aral, sans-serif;
  /* font-style: italic; */
}

body {
  background-image: url(./weedBG.jpg);
  box-sizing: border-box;
  margin: 0px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-text {
  background-color: #c0c0c0;
  text-align: center;
}

.main-text p {
  font-size: 18px;
}
